<div class="jumbotron">
  <h2>Sigma Chapter of Theta Tau at <br></br> The Ohio State Universtiy</h2>
  <p class="lead">
    <img src="images/theta_tau_logo.png" alt="Theta Tau"><br>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Information</h4>
  <p>
    Theta Tau is the nation's oldest and largest Fraternity for Engineers and other majors. Sigma Chapter was founded at The Ohio State University on November 29th, 1924. 
  </p>

  <h4>Chapter</h4>
  <p>
    The men of Theta Tau are more than motivated to make the necessary changes to grow and become much more than they have before. Currently at 16 members, the chapter would like to double its size by the end of this year.
  </p>
</div>