<div class="jumbotron">
  <h2>About Events</h2>
  <p class="lead">
    Are events are all about you! We want to meet and get to know those who are interested in joining our brotherhood. We try to make events as diverse as possible, so that anyone can attend the events. We are selective with our bidding process so those who are not familiar with the process can find more information below.
  </p>
</div>

<div class="row marketing">
  <h4>The Rush Process</h4>
  <p>
    <ul>
      <li>Those who are interested come to Rush Events (Avg: 2wks Length)</li>
      <li>We will have a formal voting process to determine those that recieve bids</li>
      <li>If you accept your bid you will be pinned and go through the formal Pleding Process Explained below</li>
    </ul>
  </p>

  <h4>The Pledge Process</h4>
  <p>
    This is a time when newly pinned pledges learn the customs and history of Theta Tau, as well as form everlasting bonds with the brothers. If pledges make it through new member education, they will be initiated as equals in to the fraternity.
  </p>
  <img src="images/rush_schedule.jpg" alt="Theta Tau" width="386" height="500" align="center">
</div>

